#map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

cite {
    font-style: italic;
}

#sidebar {
    padding: 0;
}
#sidebar h1 {
    padding: 8px 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.collapsible h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 15px;
}

.none-collapsible h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 15px;
}

.collapsible h2::after{
  content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.none-collapsible h2::after {
    content: '\274F';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible {
  background-color: rgb(156, 156, 156);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.none-collapsible {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
  
  .active, .collapsible:hover {
    background-color: #555;
  }

.none-collapsible:hover {
    background-color:#555;
  }
  
  .active h2::after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.3s ease-out;
    background-color: #ffffff;
  }

  button{
    font-size: 8.5pt;
  }